{% extends 'partials/base.html' %}

{%block content%}
  <div class="container S">
     <div class="row mt-5 pt-5">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card shadow my-2">
              <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                        <small>2nd July 2024</small>
                        <hr>
                        <a href="">First Post</a>
                        <p class="text-justify my-3">
                            Anything's possible, you gotta 
                            dream like you've never seen obstacles. 

                        </p>
                    </div>
                </div>
            </div>
        </div>  
        <div class="card shadow my-2">
            <div class="card-body">
              <div class="row">
                  <div class="col-md-4">
                      <img src="" alt="img">
                  </div>
                  <div class="col-md-8">
                      <small>2nd July 2024</small>
                      <hr>
                      <a href="">First Post</a>
                      <p class="text-justify my-3">
                          Anything's possible, you gotta 
                          dream like you've never seen obstacles. 

                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card shadow my-2">
        <div class="card-body">
          <div class="row">
              <div class="col-md-4">
                  <img src="" alt="img">
              </div>
              <div class="col-md-8">
                  <small>2nd July 2024</small>
                  <hr>
                  <a href="">First Post</a>
                  <p class="text-justify my-3">
                      Anything's possible, you gotta 
                      dream like you've never seen obstacles. 

                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="card shadow my-2">
    <div class="card-body">
      <div class="row">
          <div class="col-md-4">
              <img src="" alt="img">
          </div>
          <div class="col-md-8">
              <small>2nd July 2024</small>
              <hr>
              <a href="">First Post</a>
              <p class="text-justify my-3">
                  Anything's possible, you gotta 
                  dream like you've never seen obstacles. 

              </p>
          </div>
      </div>
  </div>
</div>


      </div>
     </div>
  </div>

{% endblock %}